<h1>Listing goals</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @goals.each do |goals| %>
  <tr>
    <td><%=h goals.name %></td>
    <td><%= link_to 'Show', goals %></td>
    <td><%= link_to 'Edit', edit_goals_path(goals) %></td>
    <td><%= link_to 'Destroy', goals, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New goals', new_goal_path %>